* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header area style */
header {
    background-image: url("../images/banner/banner3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-area {
    width: 80%;
    margin: auto;
    height: 100vh;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner-area h1 {
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}

.banner-area p {
    font-weight: 400;
    font-size: 16px;
    margin: 30px 0;
    color: #FFFFFF;
    line-height: 26px;
}

.btn-primary {
    padding: 15px 30px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}