* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header area style */
header {
    background-image: url("../images/banner/banner3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-area {
    width: 80%;
    margin: auto;
    height: 100vh;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner-area h1 {
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}

.banner-area p {
    font-weight: 400;
    font-size: 16px;
    margin: 30px 0;
    color: #FFFFFF;
    line-height: 26px;
}

.btn-primary {
    padding: 15px 30px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* failure section style */
.failure-section {
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.failure-details h2 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.failure-details p {
    font-size: 16px;
    color: #444343;
    margin: 20px 0;
    line-height: 26px;
}

.target-section ul {
    list-style: none;
    padding-left: 0;
}

.target-section ul li {
    line-height: 2;
}

.target-section ul li i {
    color: #16D887;
}

/* My plans style */
.my-plans {
    width: 80%;
    margin: 130px auto;
    text-align: center;
}

.my-plans h2 {
    font-weight: 700;
    font-size: 40px;
}

.all-plans {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
}

.plans h3 {
    font-size: 24px;
    margin: 10px 0;
}

.plans p {
    margin: 10px 0;
    color: #737272;
}

/* Gradient area style */
.gradient-section {
    width: 1140px;
    height: 300px;
    margin: 130px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url("../images/watch.png");
    background-repeat: no-repeat;
    border-radius: 8px;
}

.gradient-section h2 {
    margin-left: 65px;
    font-size: 40px;
    color: #FFFFFF;
}

.btn-secondary {
    padding: 15px 30px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 65px;
    margin-top: 20px;
}